/* smartisan T é»‘ */
@font-face {
  font-family: ST H;
  font-weight: bold;
  src: url('https://static.junxio.com/static/font/Smartisan_Compact-Bold.ttf') format('truetype');
}

@font-face {
  font-family: ST H;
  font-weight: bolder;
  src: url('https://static.junxio.com/static/font/Smartisan_Compact-Heavy.ttf') format('truetype');
}

@font-face {
  font-family: ST H;
  font-weight: lighter;
  src: url('https://static.junxio.com/static/font/Smartisan_Compact-Light.ttf') format('truetype');
}

@font-face {
  font-family: ST H;
  font-weight: normal;
  src: url('https://static.junxio.com/static/font/Smartisan_Compact-Regular.ttf') format('truetype');
}