@media (max-width: 1000px) {
  .intro .brief, .skill .skill-panel {
    width: 400px !important;
  }
  .intro .person-info {
    width: 400px !important;
  } 
  .intro .person-info .person-info-item,
  .skill .skill-panel .skill-item{
    width: 400px !important;
    margin: 16px 0 !important;
  } 
}

@media (max-width: 750px) {
  .skill .switch {
    display: none
  }
  .skill .dial {
    display: none;
  }
  .skill .skill-panel {
    display: block !important;
  }
}

@media (max-width: 450px) {
  .home .brief {
    border-top-left-radius: 4px !important;
    border-top-right-radius: 4px !important;
  }
  .home .icons-menu {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  .home .nav-bar {
    display: none;
  }
  .home .switch-btn {
    display: none !important;
  }
  .home .trigon {
    display: none !important;
  }
  .home .footer {
    display: none !important;
  }
  .home .note-panel {
    height: auto;
  }
  nav.progress {
    display: none !important;;
  }
}

/* iphone6p 7p 8p */
@media (max-width: 420px) {
  .title {
    font-size: 30px !important;
    line-height: 30px !important;
  }
  .intro .brief,
  .skill .skill-panel {
    width: 300px !important;
    margin-top: 20px !important;
  }
  .intro .person-info {
    width: 300px !important;
  } 
  .skill .skill-panel {
    margin-top: 30px !important;
  }
  .intro .person-info .person-info-item,
  .skill .skill-panel .skill-item {
    width: 300px !important;
  }
}

/* iphone6 7 8 X */
@media (max-width: 380px) {
  .intro .person-info .person-info-item {
    margin: 16px 0l !important;
  } 
  .skill .skill-panel .skill-item {
    margin: 15px 0 !important;
  } 
}

/* iphone5 */
@media (max-width: 330px) {
  .home .social {
    width: 300px !important;
  }
  .intro .person-info {
    margin-top: 14px !important;
  }
  .intro .person-info .person-info-item,
  .skill .skill-panel .skill-item {
    margin: 8px 0 !important;
    position: relative;
  } 
  .intro .person-info-item:not(:last-child) :after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    border-bottom: 1px solid #ddd;
    transform: translateY(.5);
    left: 0;
    bottom: -10px;
  }
  .skill .skill-panel .skill-item:not(:last-child) :after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    border-bottom: 1px solid #ddd;
    left: 0;
    bottom: -7px;
  }
  .skill .skill-panel {
    margin-top: 12px !important;
  } 
  .skill .skill-panel .skill-item {
    margin: 8px 0 !important;
  } 
}

@media (min-height: 670px) and (max-height: 740px) {
  .intro .person-info .person-info-item {
    margin: 20px 0 !important;
  }
  .skill .skill-panel .skill-item {
    margin: 25px 0 !important;
  } 
}

@media (min-height: 760px) {
  .intro .person-info .person-info-item {
    margin: 25px 0 !important;
  }
  .skill .skill-panel {
    margin-top: 50px !important;
  }
  .skill .skill-panel .skill-item {
    margin: 32px 0 !important;
  }
}