@media (max-width: 450px) {
  .home .brief {
    border-top-left-radius: 4px !important;
    border-top-right-radius: 4px !important;
  }
  .home .icons-menu {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  .home .nav-bar {
    display: none;
  }
  .home .switch-btn {
    display: none !important;
  }
  .home .trigon {
    display: none !important;
  }
  .home .footer {
    display: none !important;
  }
  .home .note-panel {
    height: auto;
  }
  nav.progress {
    display: none !important;;
  }
}

@media (max-width: 750px) {
  .intro .brief {
    width: 400px !important;
  }
  .intro .person-info {
    width: 400px !important;
  } 
  .intro .person-info .person-info-item {
    width: 400px !important;
    margin: 16px 0 !important;
  } 
}

/* iphone6p 7p 8p */
@media (max-width: 420px) {
  .intro .title {
    font-size: 30px;
    line-height: 30px;
  }
  .intro .brief {
    width: 300px !important;
    margin-top: 20px !important;
  }
  .intro .person-info {
    width: 300px !important;
  } 
  .intro .person-info .person-info-item {
    width: 300px !important;
    margin: 20px 0 !important;
  }
}

/* iphone6 7 8 X */
@media (max-width: 380px) {
  .intro .person-info .person-info-item {
    margin: 20px 0 !important;
  } 
}

/* iphone5 */
@media (max-width: 330px) {
  .intro .person-info .person-info-item {
    margin: 10px 0 !important;
    position: relative;
  } 
  .person-info-item:not(:last-child) :after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    border-bottom: 1px solid #ddd;
    left: 0;
    bottom: -10px;
  }
}